/* 
ФОНИ:
- Header & advantages, areas, portfolio, portf-cards - #FFFFFF
- Hero & Footer: 

- Sections:  - #E5E5E5 
- Sections team - #F5F4FA

- btn in portfolio - #F5F4FA
- btn active -  #2196f3;

ТЕКСТИ:
- Акцентний (зміна при наведені) + btn active - #2196f3;
- Лого(Studio) - #000000;
- Осн кол навігації & h2, h3: #212121
- Конаткти шапки & h4, посада: #757575
- Текст героя та кнопки: #FFFFFF
- Контактів футера -  rgba(255, 255, 255, 0.6) */

:root {
  --primary-bgc: #ffffff;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --contrast-color: #fff;
}

body {
  background-color: var(--primary-bgc);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

header {
  /* padding: 24px 0 25px; */
  background-color: #fff;
  border-bottom: 1px solid #ececec;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
}

/* Utility */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.section {
  padding: 94px 0;
}

/* Logo */
.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-blue {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.logo-blue:hover {
  color: #000000;
}

.logo-black {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.logo-black:hover {
  color: var(--accent-color);
}

.section-title {
  margin: 0 auto;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

/*  Site nav */
.main-nav {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item:not(:last-child),
.head-contacts .item:not(:last-child) {
  margin-right: 50px;
}

/* Alternative ^
.site-nav .item + .item {
  margin-left: 50px;
} */

.site-nav .link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.link.current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;

  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;
}

.head-contacts {
  display: flex;
  margin-left: auto;
}

.contacts-item {
  display: inline-flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

/* .head-contacts .item:not(:last-child) {
  margin-right: 50px;
} merged with .site-nav*/

.contacts-item:hover,
.contacts-item:focus {
  color: var(--accent-color);
}

.icon-contacts.envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;

  fill: var(--primary-text-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.icon-contacts.smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;

  fill: var(--primary-text-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.contacts-item:hover .icon-contacts,
.contacts-item:focus .icon-contacts {
  fill: var(--accent-color);
}

/* Hero */
.hero {
  padding: 200px 0;
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero.jpg');
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin: 0 auto 30px;

  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* text-align: center; - added to .hero*/
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

/* Features */

.features .section-title,
.portfolio .section-title {
  display: none; /* temporary solution*/
}

.features .title {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.feature-text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.71;
}

.features .list {
  display: flex;
}
.feature-block {
  /* width: 270px; */
  width: calc((100% -3 * 30px) / 4);
}

.feature-block + .feature-block {
  margin-left: 30px;
}

.icon-block {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 270px;
  height: 120px;

  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.icon-feature {
  width: 70px;
  height: 70px;
}

.thumb {
  position: relative;
  /* overflow: hidden; */
}

.thumb > .label {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 70px;
  margin: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--contrast-color);
  background: rgba(47, 48, 58, 0.8);
}

/* Areas */

.areas {
  padding-top: 0;
}

.areas .section-title {
  margin-bottom: 50px;
}

.areas .list {
  display: flex;
}

.areas .list-item + .list-item {
  margin-left: 30px;
}

/* Team */
.team .section-title {
  margin-bottom: 50px;
} /* Could be unify or merge?  */

.section.team {
  margin-bottom: 0;
  padding: 94px 0;

  background-color: #f5f4fa;
}

.employee-desc {
  padding: 30px;
  /* border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; - Костиль якщо не викор overflow: hidden; в .element*/

  background-color: var(--primary-bgc);
}

.team .list {
  display: flex;
}

.element + .element {
  margin-left: 30px;
}

.element {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.name {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color);
}

.profession {
  margin-top: 0;
  margin-bottom: 16;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Social-net icons */
.social-net {
  display: flex;
}

.soc-box {
  border-radius: 50%;
}

.soc-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.soc-box:not(:last-child) {
  margin-right: 10px;
}

.soc-icon {
  display: block;

  fill: #afb1b8;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.soc-link:hover,
.soc-link:focus {
  outline: transparent;
  background-color: var(--accent-color);
}

.soc-link:hover .soc-icon,
.soc-link:focus .soc-icon {
  fill: #ffffff;
}

/* Button */
.button {
  display: flex;
  align-items: center;
  padding: 10px 32px;
  margin: 0 auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* text-align: center; - added to .hero*/
  letter-spacing: 0.06em;
  border: transparent;
  border-radius: 4px;
  color: var(--contrast-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.button.secondary {
  padding: 6px 22px;

  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.filter-btn + .filter-btn {
  margin-left: 8px;
}

.button.secondary:focus,
.button.secondary:hover {
  color: var(--contrast-color);
  background-color: var(--accent-color);
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08),
    0 2px 2px rgba(0, 0, 0, 0.12);
}

/* Clients */

.clients .section-title {
  margin-bottom: 50px;
}

.clients .list {
  display: flex;
}

.client-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 92px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.clients .element {
  box-shadow: none;
}
.client-icon {
  width: 106px;
  height: 60px;

  fill: #afb1b8;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.client-link:hover .client-icon,
.client-link:focus .client-icon {
  fill: var(--accent-color);
}
.client-link:hover,
.client-link:focus {
  outline: transparent;
  border: 1px solid var(--accent-color);
}

/* Footer */
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer {
  padding: 60px 0;

  background-color: #2f303a;
}

.footer .ftr-item + .ftr-item {
  margin-top: 9px;
}

.ftr-contacts .ftr-address {
  margin-top: 20px;
}

.logo-white {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--contrast-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.logo-white:hover {
  color: var(--accent-color);
}

.adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--contrast-color);
}

.adress:hover,
.adress:focus {
  color: var(--accent-color);
}

.ftr-contacts-item {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.ftr-contacts-item:hover,
.ftr-contacts-item:focus {
  color: var(--accent-color);
}

.ftr-soc {
  margin-left: 70px;
}

.ftr-title {
  margin: 0 0 20px;

  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  color: var(--contrast-color);
}

.footer .soc-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .soc-icon {
  fill: var(--contrast-color);
}

.soc-link:hover,
.soc-link:focus {
  background-color: var(--accent-color);
}

.ftr-subscribe {
  margin-left: 93px;
}

.ftr-subsribe-block {
  display: flex;
}

.ftr-subscribe .input-field {
  padding: 15px;
  width: 100%;
  min-width: 358px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--contrast-color);
  background-color: transparent;
}

.ftr-subscribe .button {
  position: relative;

  margin-left: 12px;
  min-width: 200px;
}

.ftr-subscribe .button:active {
  background: #188ce8;
}

.icon-subs {
  position: absolute;
  bottom: 50%;
  right: 28px;
  transform: translateY(50%);
  fill: var(--contrast-color);
}

/* ----------------------- */
/* СТИЛІ для Portfolio */

.portfolio .filters {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.portfolio .list {
  display: flex;
  flex-wrap: wrap;
}

.list-element {
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc((100% - 2 * 30px) / 3);

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .list-element:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.list-element:nth-child(3n) {
  margin-right: 0;
}

.list-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.filter-category {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
  margin: 0;
}

.project-name {
  margin: 0 auto 4px;

  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.img-block {
  display: block;
}

.portf-overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;

  margin: 0;
  padding: 63px 24px;

  background-color: rgba(33, 150, 243, 0.9);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--contrast-color);

  transform: translateY(100%);
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portf-link:hover .overlay-text,
.portf-link:focus .overlay-text {
  opacity: 1;
  transform: translateY(0);
}

.card-block {
  padding: 20px 24px;

  border: 1px solid #eeeeee;
  border-top: none;
}

/* ------------ Modal window ----------------------*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  transform: scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* display: flex;
  align-items: center;
  justify-content: center; */
  width: 100%;
  max-width: 528px;
  min-height: 581px;
  padding: 40px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  /* scale: initial; - Check*/

  height: 30px;
  width: 30px;
  margin: 8px;
  padding: 0;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;

  transform: scale(1);
}

.icon-close {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .modal-close-btn:focus .icon-close,
.modal .modal-close-btn:hover .icon-close {
  fill: var(--accent-color);
}

.form {
  width: 100%;
  margin: 0 auto;
}

.form h2 {
  margin-top: 0;
  margin-bottom: 12px;

  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.input-group:nth-last-child(3) {
  margin-bottom: 0px;
}

.input-group .input-field,
.input-group .textarea-field {
  padding: 10px 10px 10px 42px;
  width: 100%;
  height: 40px;

  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-group .input-field:focus,
.input-group .textarea-field:focus,
.input-group:hover .input-field {
  border: 1px solid var(--accent-color);
}

.input-field:hover + .input-icon,
.input-field:focus + .input-icon {
  fill: var(--accent-color);
}

.input-group .textarea-field {
  margin-bottom: 20px;
  padding: 12px 16px;
  width: 448px;
  height: 120px;

  resize: none;
}

.input-tag {
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--title-text-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper {
  display: flex;
  position: relative;
}

.checkbox {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  align-items: baseline;
  justify-content: center;
}

.checkbox-field {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.checkbox .input-tag {
  font-size: 14px;
  line-height: 1.71;
}

.checkbox-link {
  font-size: 14px;
  line-height: 1.71;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.fake-mark {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 15px;
  margin-right: 8.38px;

  background-color: transparent;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fake-mark > svg {
  fill: var(--contrast-color);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-field:hover + .fake-mark,
.checkbox-field:focus + .fake-mark {
  border: 2px solid var(--accent-color);
}

.checkbox-field:checked + .fake-mark {
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.checkbox-field:checked + .fake-mark > svg {
  opacity: 1;
}

.button.btn-send {
  padding: 10px 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button.btn-send:active {
  background: #188ce8;
}
