.button {
  display: flex;
  align-items: center;
  padding: 10px 32px;
  margin: 0 auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* text-align: center; - added to .hero*/
  letter-spacing: 0.06em;
  border: transparent;
  border-radius: 4px;
  color: $contrast-color;
  background-color: $accent-color;
  cursor: pointer;
}

.button.secondary {
  padding: 6px 22px;

  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.portfolio__filters--btn + .portfolio__filters--btn {
  margin-left: 8px;
}

.button.secondary:focus,
.button.secondary:hover {
  color: $contrast-color;
  background-color: $accent-color;
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08),
    0 2px 2px rgba(0, 0, 0, 0.12);
}
