header {
    background-color: $primary-bgc;
    border-bottom: 1px solid #ececec;
}

.main-nav {
    @extend %centered;
}

.nav {
        @extend %centered;
    &__logo {
        display: block;
        padding-top: 24px;
        padding-bottom: 25px;
    }
}

.site-nav {
    display: flex;
    margin-left: 93px;

    &__item:not(:last-child){
        margin-right: 50px;
    }
}

.site-nav__link {
    position: relative;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: $title-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    transition: color 250ms $timing-function;

    &:hover, &:focus {
        color: $accent-color;
    }

    &.current {
        color: $accent-color;
    }

    &.current::after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
    
        width: 100%;
        height: 4px;
    
        background-color: $accent-color;
        border-radius: 2px;
    }
}

.header-contacts {
    display: flex;
    margin-left: auto;

    &__item:not(:last-child) {
    margin-right: 50px;
    }

    &__link {
    display: inline-flex;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $primary-text-color;

    transition: color 250ms $timing-function;
    }

    &__link:hover, &__link:focus {
    color: $accent-color;
    }

    &__link:hover .header-contacts__icon, &__link:focus .header-contacts__icon {
    fill: $accent-color;
    }
}

.header-contacts__icon {
    margin-right: 10px;

    fill: $primary-text-color;
    
    transition: fill 250ms $timing-function;
}

.envelope{
    width: 16px;
    height: 12px;
}

.smartphone{
    width: 10px;
    height: 16px;
}