.portfolio__filters {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio__card {
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc((100% - 2 * 30px) / 3);

    transition: box-shadow 250ms $timing-function;
}

.portfolio__card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__card:nth-child(3n) {
  margin-right: 0;
}

.portfolio__card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio__filter-category {
  color: $primary-text-color;
  font-size: 16px;
  line-height: 1.88;
  margin: 0;
}

.portfolio__project {
  margin: 0 auto 4px;

  color: $title-text-color;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__overlay {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;

  margin: 0;
  padding: 63px 24px;

  background-color: rgba(33, 150, 243, 0.9);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: $contrast-color;

  transform: translateY(100%);
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}

.portfolio__link:hover .portfolio__overlay-text,
.portfolio__link:focus .portfolio__overlay-text {
  opacity: 1;
  transform: translateY(0);
}

.portfolio__description {
  padding: 20px 24px;

  border: 1px solid #eeeeee;
  border-top: none;
}