body {
    background-color: $primary-bgc;
    color: $primary-text-color;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

a {
    text-decoration: none;
}

button {
    font-family: inherit;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding: 94px 0;
}

.section-title {
    margin: 0 auto 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: $title-text-color;
}

.logo--blue {
    @extend %logo;
    color: $accent-color;

    &:hover {
        color: #000000;
    }
}

.logo--black {
    @extend %logo;
    color: #000000;

    &:hover {
        color: $accent-color;
    }
}

.logo--white {
    @extend %logo;
    color: $contrast-color;

    &:hover {
        color: $accent-color;
    }
}

.img-block {
    display: block;
}

/* Social-net icons */
.social-net {
    display: flex;

    &__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: transparent;

    transition: background-color 250ms $timing-function;
    }

    &__item:not(:last-child) {
    margin-right: 10px;
    }

    &__icon {
    display: block;

    fill: #afb1b8;

    transition: fill 250ms $timing-function;
    }
}

.social-net__link:hover,
.social-net__link:focus {
    outline: transparent;
    background-color: $accent-color;
}

.social-net__link:hover .social-net__icon,
.social-net__link:focus .social-net__icon {
    fill: #ffffff;
}